@lmgreen: #9BC074;
@lmgreen-deep: #77AD65;

.list-box {
  width: 100%;
  margin-top: 15px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.login-poa(@w, @h) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: @w;
    height: @h;
    margin-left: -(@w / 2);
    margin-top: -(@h / 2);
}